html,body,h1,h2,h3,h4,h5,p{
    margin:0;
    overflow-y:scroll;
}
html{
    font-size:10px;
}
body{
    margin-left:auto;
    margin-right:auto;
    color:#666;
    font:200 1.6rem/1.75 "Noto Sans KR";
}
h5{
    font:600 2.13rem/2.63 "Noto Sans KR";
    margin-bottom: 2.8rem;
}
h4{
    font:400 2.83rem/2 "Noto Sans KR";
}
h3{
    font:100 3.76rem/1.49 "Noto Sans KR";
}
h2{
    font:100 5rem/1.7 "Noto Sans KR";
}
h1{
    font:100 6.65rem/1.26 "Noto Sans KR";
    margin-bottom:5.6rem;
}
.container{
    width:90%;
    max-width: 640px;
    margin-top:5.6rem;
    margin-left: auto;
    margin-right: auto;
}
.paragraph{
    margin-bottom: 5.6rem;
}
.grid{
    background:url("../leading_28px.png");
}
a{
    text-decoration:none;
    color:#354984;
}
a:hover{
    color:#E26567;
}
b{
    font-weight:200;
    background-color: #E2EAFF;
    }