html{
    /* rem 단위의 기준설정 값 */
    /* 왜 10픽셀? 계산이 용이 */
    font-size: 10px;
}
body{
    margin:0px;
    /* guideline plan */
    background:url("../leading_28px.png");
    /* font setting */
    font: 200 1.6rem/2.8rem "Noto Sans KR";
    color:#333;

    /* 속기형 속성 : 글꼴, 글자 크기, 글자 두께, 글자 기울기, 글자 변형, 행간 */
    /* font: 글자크기 글꼴; (필수)*/
    /* font: 글자크기/행간 글꼴; (옵션)*//* font: 두께 기울기 변형 글자크기/행간 글꼴; (옵션)*/
    /* font: bold italic small-caps 14px/1.5 "NanumSquare", Dotum, sans-serif;*/
}
p{
    margin-top:0;
    margin-bottom: 2.8rem;
}
.container{
    /* width를 90%로 쓰지만 최대값 이상으로는 벌어지지 않도록 .*/
    width:90%;
    max-width:640px;
    /* 마진을 양분하기 위해선 width값이 지정되어있어야함 */
    margin:0 auto;
    margin-left:auto;
    margin-left:auto;
    padding-top:5.6rem;

}
/*제목 디자인*/
/*아래부터 시작 h6부터*/

h5{
    font-size:2.13rem;   /*  1.6*1.33  */
    line-height:2.8rem;   /*  1줄이니까  */
}
h4{
    font-size:2.83rem;   
    line-height:5.6rem;

}
h3{
    font-size:3.76rem;  
    line-height:5.6rem;
}
h2{
    font-size:5rem;
    line-height:8.4rem;
}
h1{
    font-size:6.7rem;
    line-height:8.4rem;
}


h1,h2,h3,h4,h5{
    margin-top:0;
    margin-bottom:2.8rem;
}

h1,h2,h3{
    font-weight:100;
}
/*
a{
    text-decoration:none;
    color:#63ADD2;
    font-weight:400;
}
a:hover{
    color:#FF92E6;
}
b{
    text-decoration:none;
    font-weight:200;
    background-color:#DFF5FF;
}*/