body,ul,li,p,a.h1{
    margin:0;
    padding:0;
}

body{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    color:white;
}
a{
    color:white;
    text-decoration:none;
}

p,h1{
    margin-bottom:60px;
}
h1{
    font-weight:100;
    font-size:5em;
    margin-top:100px;
}
p{
    font-weight:100;
    font-size:1em;
    line-height:2em;
}
li{
    margin-bottom:12px;
    text-align:center;
    width:80px;
    list-style:none;
    padding:10px 20px;
    border:1px solid white;
}
li:hover{
    border:0px;
}
.active{
    border:0px;
}
#spring{
    /*background: 색상, 경로, 반복설정, 위치, 고정설정*/
    /*기본값*/
    /*background: transparent url() repeat left top scroll;*/
    background-image: url("../IMG/spring.jpg");
    background-size:cover;
}
#summer{
    background-image: url("../IMG/summer.jpg");
    background-size: cover;
}
#index{
    background-image: url("../IMG/travel.jpg");
    background-size: cover;
}